# Python
__pycache__/
*.py[cod]

# Virtual environment
test/
venv/
env/
.venv/

# Django generated static files
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db